
    
/* .font-text{
    font-style: Fira Sans;
    font-weight: 622px;
    font-size: 24px; */

/* .font-continer{
     background-color: #C6E4D6;
    font-style: Fira Sans;
    font-size: Bold;
    width: 1280px;
    height: 560px;
    
      */
    body{
      background-color: #F1F1F3;
    }
    .baba {
        
        justify-content: space-between;
        background-color: #C6E4D6;
        font-style: Fira Sans;
        font-size: Bold;
        /* width: 1280px; */
        height: 560px;
     
        display: flex;
        
        border-radius: 24px; 
        
        
        background-repeat: no-repeat;
         
    
 } 

.justok{
   width: 1280px;
   height: 120px;
}




 /* bangla styles */
 .bangla-greetings{
    font-size: 24px;
    font-weight: 622px;
    color: #0a0a0a80;
    

 }
  .btn-primary{
    background-color:#006A50 ;
    color: #FFFFFF;
    width: 270px;
    height: 56px;
    border-radius: 8px;
    margin: 34px 0px 17px 0px;
 } 
  
    
   
.My-button{
    position: absolute;
    bottom:auto;
    left: auto;
    background-color: #5490F5;
    width: 122px;
    height: 41px;
    padding: 20px  0 11px 0p;
    border-radius: 8px;
    
    
}



.pic{
  
   position-area: right;
    width:346px;
    height:108px;
    border-radius: 8px;
    
}

 .two{
   font-weight:346px;
   
   }
   .bodar2{
      width: 410.67px;
      height: 325px; 
      border-radius: 14px;
      background-color:#C6E4D6;
      
      left: auto;
      margin-top: 20pxs;
    }
   

.btn-primary2 {  
    
    background-color: #09A15C;
     width: 122px;
     height: 41px;
     
     border-radius: 8px;
  
     /*  .about-item.btn-primary{
    width: 122px;
    height: 41px;
    padding: 20px 11px;
    display: flex;
    justify-items: normal;
    
    
 } */
    
    
    
  

}
.btn-primary5{
   background-color: #FFC239;
   width: 122px;
   height: 41px;
   
   border-radius: 8px;
   left: auto; 
   
   justify-content: flex-end;
   align-self: flex-end;
}


 .bangla-title{
    font-weight: bold;
    font-size: 56px;
    width: 622px;
    height: 201px;
 }
 .bangla-profile-pic{
    width: 470.03px;
    height: 400px;
    margin-top:100px;
    
    
    
 }
 .bangla-content{
    max-width: 622px;
 }


 .section-title{
    font-size: bold;
    color: #0E0E0E;
    width: 1280px;
    height: 17px;
    margin-top: 48px;
    padding: 5px;

 }
 .section-description{
   
    color: #0e0e0e5c;
    width: 1280px;
    height: 120px;
    margin-bottom: 32px;
    padding: 5px;

 }
 .secondary-bg{
    background-color:#F1F1F3 ;
 }
 /* about style */

/* 
 .obr{
    width: 1280px;
    height: 765px;
    display: flex;
    justify-content:space-around;
  } */
   
/* 
   .main{
    max-width: 1600px;
    margin: 0 auto;
   }
  */

  
  .bodar-container{
   display: flex;
    width: 410px;
    height: 325px;
    border-radius: 16px;
    background-color:#548ff53b ;
    margin-right: 24px;



    

  }
  
  
  .bodar3{
    width: 410.67px;
    height: 325px;
    border-radius: 16px;
    background-color:#F7EBCF;
    margin-left: 24px;

  }
  
  .num2{
    width: 1280px;
    height: 325px;
    
  }
  .pic{
    width: 64px;
    height: 64px;
    margin-top: right;
}
.pargrap{
    width: 1280px;
    height: 96px;
    background-color: #FFFFFF;
    border-radius: 16px;
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    padding-top: 5px;
    border: 1px;
    margin-top: 80px;
    margin-bottom: 80px;
    
    

}
.photo1{
   border-radius: 24px;
   width: 408px;
   height: 306px;
}

.btn-primaryk{
   width: 139px;
   height: 48px; 
   border-radius: 8px;
   background-color: #006A50;
 
   
   
}    

.btn-primarya{
   width: 139px;
   height: 48px; 
   border-radius: 8px;
   background-color: #006A50;
   
}    
.btn-primarym{
   width: 139px;
   height: 48px; 
   border-radius: 8px;
   background-color: #006A50;
  
   
} 


.taka{
   width: 240px;
   height: 128px;
   background-color: #f9f6f6;
   border-radius: 16px;
   color: #0e0e0ecc;
   
   
}
.froms{
     display: flex;
   left: auto;
   
   
}
/* .divflex{
   
} */


.div4{
   display: flex;
   left: auto;
}
.taka4{
   width: 240px;
   height: 128px;
   background-color: #f9f6f6;
   border-radius: 16px;
   margin-left: 24px;
   
}
.taka{
   text-align: center;
   
   width: 240px;
   height: 128px;
   background-color: #f9f6f6;
   border-radius: 16px;
   margin-left: 24px;
}
.taka2{
   margin-right: 24px;
   width: 240px;
   height: 128px;
   background-color: #C6E4D6;
   border-radius: 16px;
   margin-left: 24px;
}
.taka3{
   width: 240px;
   height: 128px;
   background-color: #f9f6f6;
   border-radius: 16px;
  

   
}
.wow{
   text-align: center;
   padding-top: 48px;
}

 
/* .picbaba{
   display: flex; 
} */
 .phobaba{
   display: flex;
   left: auto;
   margin-top: 32px;
   margin-bottom: 32px;
   

} 
.textbaba{
   display: flex;
   left: auto;

   border: 1px;
   border-radius:24px ;
   background-color: #FFFFFF;
   padding: 48px 48px 32px 32px;
   height: 322px;
}
 .textbaba2{
   display: flex;
   left: auto;
   margin-top: 24px;
   border: 1px;
   border-radius:24px ;
   background-color: #FFFFFF;
   
   height: 322px;
   padding: 48px 48px 32px 32px; 

  


}
.textbaba3{
    display: flex;
   left: auto;
   margin-top: 24px;
   border: 1px;
   border-radius:24px ;
   background-color: #FFFFFF;
   height: 322px;
   padding: 48px 48px 32px 32px; 

}
.margink{
   margin-left: 32px;
   color: #0e0e0eb3;
   

}

.margina{
   margin-right: 32px;
}


.marginm{
   margin-left: 32px;
}

/* 
.uop{
   size: 16px;
   font-style: bold;
} */
/* .psize{
   width: 134px;
   height: 40px;
} */
 .maje{
   display: flex;
   left: auto;
   text-align: center;
 }
.btn-pk1{
   width: 932px;
   height: 34px;
   background-color: #FFFFFF;
   padding: 40px 20px 24px 24px;
   
   margin-left: 150px;
   
   
   border-radius: 16px;
   border: 1px;
   color: #201f1fa0;
   
}
.btn-pk2{
   
   /* margin-top: 32px;
   height: 16px;
   padding: 24px 17px;
   background-color: #006A50;
   margin-left: 450px;
   border-radius: 16px; */
   width: 139px;
   height: 48px; 
   border-radius: 8px;
   background-color: #006A50;
   margin-left: 500px;
  
}
.lastdiv{
   
   height: 395px;
   background-color: #C6E4D6;
   margin-top: 80px;
   border-radius: 20px;

   
}
.btnlast1{
   width: 500px;
   height: 45px;
   border: 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 90px;
  margin-left: 200px;
}
.btnlast02{
   width: 150px;
   height: 45px;
   
    /* border-bottom-right-radius: 8px;  */
    /* border-top-right-radius: 9px; */
    /* border-bottom-left-radius:55px ; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  
   border: solid;
   background-color: #006A50;

}
.lastf{
 
  padding-top:50px;
  text-align: center;
  width: 622px;
  height: 48px;
  font-size: bold;
  font-size: 40px;
  margin-left: 250px;
  

   

}
.room{
  margin-left: 200px; 
}
.roomk{
   margin-left: 400px;
   margin-top: 40px;
}
.concon{
   display: flex;
   left: auto;
   margin-left: 500px;
}




 .ok1{
   width: 120px;
   height: 24px;
  
  
  margin-top: 50px;

} 
.dan{
   margin-left: 00px;
   font-size: bold;
}

